name: 'Dependency Submission'

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      repository-projects: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: advanced-security/dependency-submission-action@v1
        with:
          dependency-file: kotlin-wiz/build.gradle.kts
